    /* Global */
    .body {
        background-color: #E5E5E5;
    }

    /* Heder */

    .krapka {
        text-decoration: none;
        list-style: none;
    }

    .logo-web {
        color: #4D5AE5;

        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03;
    }

    .logo-studio {
        color: #2E2F42;

        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03;
    }

    .nav {
        color: #2E2F42;

        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02;


    }

    .navigation:hover,
    .navigation:focus {
        color: #404BBF;
    }

    .address {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02;
        font-style: normal;
    }

    .address:hover,
    address:focus {
        color: #404BBF;
    }

    /* Main */

    .hero {
        background-color: #2E2F42;
    }

    h1 {
        color: #ffffff;

        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02;
    }

    .button {
        background-color: #4D5AE5;
        color: #FFFFFF;

        cursor: pointer;
    }

    .button:hover,
    .button:focus {
        color: #FFFFFF;
        background-color: #404BBF;
    }

    h2 {
        color: #2E2F42;

        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02;
    }

    h3 {
        color: #2E2F42;

        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
    }

    p {
        color: #434455;

        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02;
    }


    .section-team-background {
        border-color: #F4F4FD;
    }

    .team {
        background-color: #FFFFFF;
    }

    /* Footer */

    .footer {
        background-color: #2E2F42;
    }

    .footer-text {
        color: #FFFFFF;
    }

    .logo-webf {
        color: #4D5AE5;

        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03;
    }

    .logo-studiof {
        color: #F4F4FD;

        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03;
    }



    .selection {
        background-color: #E7E9FC;
        color: #4D5AE5;

        cursor: pointer;
    }

    .selection:hover,
    .selection:focus {
        background-color: #404BBF;
        color: #FFFFFF;
    }