/* Function CSS */
:root {
    --primery-text-color: #434455;
    --titel-text-color: #2E2F42;
    --primery-background: #FFFFFF;
}

/* Global */
.link {
    list-style: none;
}

body {
    background-color: var(--primery-background);
    color: var(--primery-text-color);
}

/* Top */

.logo-web {
    color: #4D5AE5;
}

.logo-studio {
    color: #2E2F42;
}

.navi-color {
    color: #2E2F42;
}

.contact-color {
    color: #434455;
}

/* Text */

.title-color {
    color: var(--titel-text-color);
}

/* Our team */

.bgc-team {
    background-color: #F4F4FD
}

/* Footer */

.bgc-footer {
    background-color: #2E2F42;
}

.logo-webf {
    color: #4D5AE5;
}

.logo-studiof {
    color: #F4F4FD;
}

.foter-text {
    color: #E7E9FC;
}